<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Detail | Cắt Moi Academy</title>
    <link type="image/png" sizes="20x20" rel="shortcut icon" href="https://img.icons8.com/ios-glyphs/30/000000/education.png">

    <!-- Link css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/coursedetail.css">
    <!-- Link Js -->
    <script src="/js/main.js"></script>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Open+Sans:ital,wght@0,400;1,300&family=Playfair+Display:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Shizuru&display=swap"
        rel="stylesheet">

    <!-- LINK CAROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <!-- BOX ICON  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <style>
        .nav-sign-icon {
            display: flex;
            justify-content: start;
        }
        
        .container {
            z-index: 1000;
        }
        
        .text {
            margin: 15px 0 0 10px
        }
        
        .content {
            padding: 5px 40px;
        }
        
        .comment-content {
            margin-top: 0px;
        }
        
        .footer {
            position: absolute;
            margin-top: 200px;
        }
        
        .nav-sign ion-icon {
            position: relative;
            right: auto;
            top: 8px;
        }
    </style>


</head>

<body>
    <div class="container">
        <div class="nav bg-color">
            <a href="/" class="logo">
                <i style="margin-right: 10px;" class='bx bx-cut bx-tada main-color'></i>A<span class="main-color">cade</span>my
            </a>

            <form action="" class="search-box">
                <input type="text" name="search" placeholder="Search Your Course ....." class="nav-search">
                <button type="password">
                              <i class='bx bx-search-alt'></i>
                         </button>
            </form>

            <% if (dataCustomer.id) { %>

                <div class="nav-sign">
                    <span>
                        <ion-icon style="font-size: 30px; color: #c0392c;" name="person-circle-outline"> </ion-icon>
                        <span id="name" style="text-transform: uppercase;margin: 10px;">
                            <%= dataCustomer.name %>
                        </span>
                    </span>

                    <a href="/logOut" class="btn">
                        <span>Log out</span>
                    </a>
                </div>
                <% } else {%>

                    <div class="nav-sign">
                        <a href="/login" class="btn btn-hover">
                            <span>Sign in</span>
                        </a>
                        <a href="/register" class="btn btn-hover">
                            <span>Sign up</span>
                        </a>
                    </div>

                    <% } %>

                        <div class="menu-toggle">
                            <ion-icon name="menu-outline" class="open"></ion-icon>
                            <ion-icon name="close-outline" class="close"></ion-icon>
                        </div>
        </div>


        <div class="menu-toggle">
            <ion-icon name="menu-outline" class="open"></ion-icon>
            <ion-icon name="close-outline" class="close"></ion-icon>
        </div>
    </div>


    <section class="course-banner">
        <div class="hero-wrapper">
            <div class="course-banner-item">
                <img src="https://i.ytimg.com/vi/<%= course.imageID%>/hqdefault.jpg" alt="">
            </div>

            <div class="course-card">
                <img src="https://i.ytimg.com/vi/<%= course.imageID%>/hqdefault.jpg" alt="picture">

                <div class="course-card-content">
                    <h2>
                        <%= course.name %>
                    </h2>

                    <ul class="course-card-btns">
                        <li class="course-card-btn">
                            experience
                        </li>
                        <li class="course-card-btn">
                            Fantacy
                        </li>
                        <li class="course-card-btn">
                            animation
                        </li>
                        <li class="course-card-btn">
                            action
                        </li>
                        <li class="course-card-btn">
                            adventure
                        </li>
                    </ul>

                    <p class="course-card-description">
                        <%= course.description %>
                    </p>
                    <h3>screen shot</h3>
                    <div class="course-casts">
                        <div class="course-cast-item">
                            <img src="/images/Screen1.png" alt="cast1">
                        </div>
                        <div class="course-cast-item">
                            <img src="/images/Screen2.png" alt="cast1">
                        </div>
                        <div class="course-cast-item">
                            <img src="/images/Screen3.png" alt="cast1">
                        </div>
                        <div class="course-cast-item">
                            <img src="/images/Screen4.png" alt="cast1">
                        </div>
                        <div class="btn-load butt">
                            <a href="/lessionlist/<%= course._id %>">Xem khóa học</a>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </section>
    <!-- END MY Course SECTION -->

    <section class="comment">


        <div class="comment-content">
            <h2>Bình Luận</h2>
            <% commentt.forEach((cmt, index) => { %>
                <div class="nav-sign-icon">
                    <span class="icon">
                    <ion-icon style="margin-top: 10px;font-size: 30px; color: #faf6f6;" name="person-circle-outline"> </ion-icon>
                </span>
                    <span class="text" style="text-transform: uppercase;">
                    <%= cmt.userName %>
                </span>
                    <span class="text" style="font-size: 12px;margin-top: 19px;"><%= cmt.date %></span>
                </div>
                <div class="content">

                    <span> <%= cmt.content %></span>
                </div>
                <% }) %>
        </div>


        <div class="cmtcard">
            <textarea id="content" placeholder="Mời bạn để lại bình luận..."></textarea>
            <div class="btn-load btn-load-tb butcmt">
                <a id="sendComment" name="cmt" onclick="sendComment()">Comment</a>
            </div>
        </div>

    </section>

    <footer class="footer ">
        <div class="section-wrapper">
            <div class="row ">
                <div class="col-6 footer-header">
                    <a href="#" class="logo">
                        <i style="margin-right: 10px;" class='bx bx-cut bx-tada main-color'></i>A<span class="main-color">cade</span>my

                    </a>

                    <p class="description">
                        Academy.vn là cổng đào tạo trực tuyến chuyên về kỹ năng cho người đi làm. Các khoá học tại đây được xây dựng hoàn toàn bằng Video và học viên sẽ tham gia học 100% qua mạng máy tính. Với thực trạng hơn 75% số sinh viên và nhân viên mới đi làm hiện nay
                        còn thiếu và yếu về kỹ năng mềm cũng như khả năng giao tiếp ứng xử trong công việc cũng như cuộc sống. Academy.vn được thành lập nhằm giúp các bạn có điều kiện được học và rèn luyện các kỹ năng thiết yếu cho công việc cũng như
                        cuộc sống cùng với những giáo viên nổi tiếng và có chuyên môn cao. </p>
                    <div class="social-list">
                        <a href="#" class="social-item">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-instagram"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="bx bxl-twitter"></i>
                        </a>
                    </div>
                </div>

                <div class="col-12 footer-item">
                    <div class="row">
                        <div class="col-4 align-items-center">
                            <div class="content">
                                <p class="main-color" style="font-size: 1.2rem;"><b>Academy</b></p>
                                <ul class="footer-menu">
                                    <li><a href="#"> About us</a></li>
                                    <li><a href="#"> My profile</a></li>
                                    <li><a href="#"> Pricing plans</a></li>
                                    <li><a href="#"> Contacts</a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-4 align-items-center">
                            <div class="content">
                                <p class="main-color" style="font-size: 1.2rem;"><b>Browse</b></p>
                                <ul class="footer-menu">
                                    <li><a href="#">Course</a></li>
                                    <li><a href="#">My Course</a></li>
                                    <li><a href="#">Messages</a></li>
                                    <li><a href="#">Library</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-4 align-items-center">
                            <div class="content">
                                <p class="main-color" style="font-size: 1.2rem;"><b>Help</b></p>
                                <ul class="footer-menu">
                                    <li><a href="#">Account & Billing</a></li>
                                    <li><a href="#">Plans & Pricing</a></li>
                                    <li><a href="#">Supported devices</a></li>
                                    <li><a href="#">Accessibility</a></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>



        </div>
    </footer>


</body>



<!-- Link Jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<!-- Link js Ionicons -->
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.1.2/cjs/ionicons.cjs.js" integrity="sha512-v+I+njNdfChZYsA6UjfvoCfVuC59kiuqEALSEgHloBjhNaMlcWxEFWU2nHl1c/4vWvOtWugbAZwE6Ae4iwqF9A==" crossorigin="anonymous"></script>
<!-- Link Owl Carousel Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
<script>
    // $(document).ready(function() {
    //     $("#sendComment").click(function() {
    //         // console.log(113)
    //         sendComment();
    //     });
    // });

    function sendComment() {
        let queryString = window.location.href;
        queryString = queryString.substr(29);
        console.log(queryString);
        let commentData = document.getElementById("content").value;
        $.post("/addCmt", {
                commentData: commentData,
                _id: queryString,

            },
            function(data, status) {
                if (data.stt) {
                    window.location.reload()
                }
            });
    }
</script>

</html>